# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled TypeScript
dist/
out/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
logs/*.log

# Environment variables
.env

# IDE/Editor folders
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Others
*.swp
*.swo
*.bak

